body{
    background: linear-gradient(345deg, #ffffff, #c8f5eb, #ffffdf);
    min-height: 100vh;
}

.dice-main {
    position: relative;
    height: 450px;
    margin-bottom: 1.5rem;
}

/* 骰盅 */
#diceCover {
    background: radial-gradient(#d2d2d2 0%, #646464 50%, #000 100%);
    transition: transform 0.1s ease;
    z-index: 9;
    width: 100%;
    height: 350px;
    position: absolute;
    bottom: 0;
    border-radius: 250px 250px 50% 50%;
    box-shadow: 10px 10px 30px 2px rgba(0, 0, 0, 0.75);
}

.shaking {
    animation: cover-shake 0.5s ease-in-out;
}

/* 动画 */
@keyframes cover-shake {
    0% {
        transform: translateY(0) rotate(0deg);
    }
    20% {
        transform: translateY(-15px) rotate(-45deg);
    }
    40% {
        transform: translateY(15px) rotate(45deg);
    }
    60% {
        transform: translateY(-13px) rotate(-45deg);
    }
    80% {
        transform: translateY(13px) rotate(45deg);
    }
    100% {
        transform: translateY(0) rotate(0deg);
    }
}

/* 骰子s */
.dices > img {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 0;
}

.dices > img:nth-child(1) {
    /*transform: translate(50%, 0);*/
    bottom: 60px;
    left: 10%;
}

.dices > img:nth-child(2) {
    /*transform: translate(50%, 0);*/
    bottom: 126px;
    left: 27%;
}

.dices > img:nth-child(3) {
    /*transform: translate(50%, 0);*/
    bottom: 160px;
    left: 48%;
}

.dices > img:nth-child(4) {
    /*transform: translate(50%, 0);*/
    bottom: 84px;
    left: 69%;
}

.dices > img:nth-child(5) {
    /*transform: translate(50%, 0);*/
    bottom: 32px;
    left: 41%;
}

/* 禁止摇色子 */
.prohibit {
    background: #999 !important;
    cursor: not-allowed;
    pointer-events: none;
}

/*底座*/
.dice-base {
    width: 100%;
    height: 234px;
    background: radial-gradient(ellipse, #cccccc, #999999, #000000);
    border: 2px solid #999;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    z-index: -1;
    box-shadow: 0 14px 0 0 #515151;
}


.btn {
    padding: 10px 30px;
    font-size: 1.2rem;
    background: linear-gradient(to right, #6561fa, #3bcac8);
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
    width: 100%;
}

.openCloseBg {
    background: linear-gradient(-45deg, #20441d, #93e580);
}

.prohibitBg {
    background: linear-gradient(to right, #fa6161, #3bcab4);
}

.shakeDice-button:active {
    transform: scale(0.98);
}

#result {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    text-align: center;
}

#result img {
    width: 30px;
}

#resultSpecial {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    color: red;
    font-weight: bold;
}

#resultSpecial img {
    height: 42px;
    margin: 0 3px;
}